@import "background.css";
	h1 {
		text-align: center;
			color: black;
				font-size: 50px !important; line-height:100px !important;
}
	p {
		color: #fff;
			font-size: 1.1em;
}
	html {
		background: #262626;
			height: 1010px; 
}
button {
	color: #fff;
		background: #FFA500;
			padding: 10px;
				border-radius: 5px;
					border: 2px solid #FF8247;
						width: 100px;
							position: absolute;
								left: 540px;
}
.ret {
	font-size: 0.9em;
		text-indent: 20px
			margin: 19;
}